
<h1>Edit My Comment </h1>


<%= form_for(@comment, url: comment_path(@comment), html: {method: "put"} ) do |f| %>


	<%= f.label :body, "Body:", for: "body" %>
	<%= f.text_area :body, id: "body" %>

	<br>
	<%= submit_tag "Update" %>
	< %= link_to "Cancel", story_path(@current_story)%>

<%end%>