
<h4 id="about">About</h4>
<p>
SMKS is the working title of a joint project created by two currently under-employed junior developers at SGC Endeavors, LLC.  It was designed using Ruby, Rails and Twitter-Bootstrap.  To learn more or if you're interested in trying it out as a beta user, feel free to reach out to us at sgc.endeavors@gmail.com.<br>
<%=link_to "Back to Home", home_path%>

</p>
