<br>

  <%if current_user%>
    <%default_view_preference = User.find(current_user.id).default_view_preference%>
    <%if default_view_preference == "My Friends"%>
      <%@view_preference = "shared"%>
    <%elsif default_view_preference == "My Stories"%>
      <%@view_preference = "personal"%>
    <%else%>
      <%@view_preference = "public"%>
    <%end%>
  <%else%>
    <%@view_preference = nil%>
  <%end%>


  <div class="container">
            <div class="hero-unit">
              <div align="middle">
                <img src="" width="300"/>
                <h1>SMKS</h1>                
                  <p>An online journal for new parents.  <br>
                <a href=<%=stories_path(type: @view_preference)%>>Enter</a></p>
            </div>
          </div>
          <div class="row" >
            <div class="span4">
              <h4><a href=<%=marketing_path%>>My Journal</h4></a>
                <p>Maintain an online journal of personal and shared memories as you begin your new life as a parent.  </p>
            </div>
            <div class="span4">
              <h4><a href=<%=marketing_path%>> Share Something Funny</a></h4>
                <p>Share those often hilarious moments that occur as you begin your crash course in Parenting 101 and as your child discovers their new world.</p>
           </div>
            <div class="span4">
              <h4><a href=<%=marketing_path%>>Read Something Funny</a></h4>
              <p> Take a break, laugh, and commiserate.  

            </div>
          
            
            
          </div>
        <hr />
        <div class="footer">
          <p><i>  &copy; 2013 SGC Endeavors, Inc.  All rights reserved. A Ruby-on-Rails / Twitter-Bootstrap Design. <br></p>
        </div><br>


      </div>
  