

  <%if current_user%>
    <%default_view_preference = User.find(current_user.id).default_view_preference%>
    <%if default_view_preference == "My Friends"%>
      <%@view_preference = "shared"%>
    <%elsif default_view_preference == "My Stories"%>
      <%@view_preference = "personal"%>
    <%else%>
      <%@view_preference = "public"%>
    <%end%>
  <%else%>
    <%@view_preference = nil%>
  <%end%>


  <div class="container">
            <div class="hero-unit" style="padding-top:15px; padding-left:5px; padding-bottom:5px; padding-right:15px;">
              <div align="middle">
                <%if @image%>
                <a href=<%=edit_image_path(@image, type: "homepage_image")%>>
                  <img src=<%=@image.s3_image_loc%> class="img-responsive img-thumbnail"/>
                </a>
                <%end%>
                <h2>SMKS</h2>                
                  <p>An online journal for capturing and sharing those candid and amusing moments as a new parent.  <br>
                <a href=<%=stories_path(type: @view_preference)%>>Enter</a></p>
            </div>
          </div>
                 <hr />
        

      </div>
  