

  <%if current_user%>
    <%default_view_preference = User.find(current_user.id).default_view_preference%>
    <%if default_view_preference == "My Friends"%>
      <%@view_preference = "shared"%>
    <%elsif default_view_preference == "My Stories"%>
      <%@view_preference = "personal"%>
    <%else%>
      <%@view_preference = "public"%>
    <%end%>
  <%else%>
    <%@view_preference = nil%>
  <%end%>


  <div class="container">
    
    <div align="middle">
      <div class="row" >
        <div  class="col-xs-6 col-md-12">
          <%if @image%>
            <a href=<%=stories_path(type: @view_preference)%>>
              <img src=<%=@image.s3_image_loc%> class="img-responsive img-thumbnail"/>
            </a>
          <%else%>
            <a href=<%=stories_path(type: @view_preference)%>>
              <img alt="Riley" class="img-responsive img-thumbnail" src="https://smks-images.s3.amazonaws.com/uploads/22/riley.JPG">
            </a>
          <%end%>
        </div>
      </div>

     
        <h2>SMKS<small><i> beta</i></small></h2>                
        <p>An online journal for capturing and sharing those candid and amusing moments as a new parent.  
        <br><br>
        <a href=<%=stories_path(type: @view_preference)%> class="btn btn-primary btn-sm">Enter</a></p>
       
     </div>
    
  </div>
  
