       <div class="container">
          <div class="hero-unit">
            <div align="middle">
              <p><< Image Here >></p>
              <h1>SMKS</h1><br>
              <p>An online journal for capturing and sharing those memorable and often-amusing moments as your child discovers their new world.<br><br>
              <a href=<%=stories_path%>>Enter</a></p>
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <h4 align="center"><a href="">Keep a Personal Journal and Scrapbook</a></h4>
            </div>
            <div class="span3">
              <h4 align="center"><a href=""> Capture & Share Exceptionally Funny Stories</a></h4>
           </div>
            <div class="span3">
              <h4 align="center"><a href="">Commiserate with Other Parents</a></h4>
            </div>
            <div class="span3">
              <h4 align="center"><a href="">Take a Break... and Laugh!</a></h4>
            </div>
          
            
            
          </div>
        <hr />
        <div class="footer">
          <p><i>  &copy; 2013 SGC Endeavors, Inc.  All rights reserved. A Ruby-on-Rails / Twitter-Bootstrap Design. <br></p>
        </div><br>


        </div>