 <div class="row" >
            <div class="span4">
              <h4><a href=<%=marketing_path%>>My Journal</h4></a>
                <p>Maintain an online journal of personal and shared memories as you begin your new life as a parent.  </p>
            </div>
            <div class="span4">
              <h4><a href=<%=marketing_path%>> Share Something Funny</a></h4>
                <p>Share those often hilarious moments that occur as you begin your crash course in Parenting 101 and as your child discovers their new world.</p>
           </div>
            <div class="span4">
              <h4><a href=<%=marketing_path%>>Read Something Funny</a></h4>
              <p> Take a break, laugh, and commiserate.  

            </div>
          
            
            
          </div>
